:host {
  display: block;
  flex: 1;
  min-width: 0;
  padding: 30px;
  background-color: azure;
}

h3 {
  padding-bottom: 10px;
}

div {
  margin-bottom: 35px;
}

ul {
  padding-left: 15px;
}

.experiencia, .formacion {
  li {
    padding: 5px;
  }
}
