/* :host equivale a acceder al css del nivel superior de este componente (app-root) */
:host {
  display: flex;
  flex-direction: column;
  font-family: 'Courier New', Courier, monospace;
}

main {
  flex: 1;
  background-color: azure;
  padding: 25px;
}

h3 {
  padding-bottom: 10px;
}

div {
  margin-bottom: 35px;
}

ul {
  padding-left: 15px;
}

.experiencia, .formacion {
  li {
    padding: 5px;
  }
}


